.scanner-main {
  text-align: center;
}

.qr-scanner-wrapper{
  /* min-width: 30rem; */
  height: 90vh !important;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.scanner-wrapper {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.qr-scanner-placeholder{
  border-radius: 10px;
  margin: 5px 5px;
  height: 67vh !important;
  
  width: 100% !important;
  background-color: rgba(0,0,0,0.5);

}
.qr-scanner-tag{
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}