:root {
    --bpdarkgrey: #333333;
    /* idk tbh */
    --darkgrey: #b7b7b7;
    --grey: #DDDDDD;
    --lightgrey: #f5f5f5;
    --modalborder: #c9c9c9;
}

.header {
    /*font-family: Inter;*/
    font-size: 35px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
}

.sub-header-2 {
    /*font-family: Inter;*/
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.sub-header-4 {
    /*font-family: Inter;*/
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.body {
    /*font-family: Inter;*/
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.smallest {
    /*font-family: Inter;*/
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
}

.details {
    /*font-family: Inter;*/
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
}

input[type="radio"] {
    width: 19px;
    height: 19px;
    accent-color: var(--bpdarkgrey);
    vertical-align: middle;
    margin-top: -4px;
}

.admin-btn {
    border-radius: 0;
    background-color: var(--darkgrey);
    width: 100%;
    border: 0;
    color: black;
    text-align: center;
}

.admin-btn:hover {
    background-color: var(--darkgrey);
    color: black;
}

.admin-btn:active {
    background-color: var(--darkgrey) !important;
    color: black !important;
}

.admin-btn:hover {
    background-color: darkgrey;
    color: black;
}

.radio-label-group {
    margin: 8px 0 0 0;
}

.add-dish-modal {
    max-width: none;
    width: 626px;
}

.add-dish-modal .modal-content {
    height: 595px;
    border-radius: 0;
    padding: 32px 32px 94px 65px;
    background-color: var(--grey);
    border-color: var(--modalborder);
}

.add-dish-modal .modal-header {
    border-bottom: none;
    padding: 0;
}

.add-dish-modal .modal-body {
    padding: 25px 33px 0 0;
    align-content: flex-start;
}

.modal-title {
    height: 85px !important;
}

.qr-input {
    border: 0;
    padding: 5px;
    width: 100%;
}


/*
 * Sidebar
 */

.sidebar {
    background-color: #464646;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    /* Behind the navbar */
    padding: 0;
    /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}


@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-icon {
    height: 16px;
    padding-right: 10px;
}

.sidebar-sticky {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background: #464646;
    color: white
}

.sidebarNavLink {
    font-weight: 500;
    color: #333;
}

.sidebar-heading {
    font-size: small;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: large;
}

a.nav-link:hover {
    color: white;
    background: #5E5E5E;
}